# ==============================
# Python
# ==============================

__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# ==============================
# Environment & Secrets
# ==============================

.env
.env.*
!.env.example

# ==============================
# Jupyter
# ==============================

.ipynb_checkpoints/

# ==============================
# VS Code
# ==============================

.vscode/

# ==============================
# OS Files
# ==============================

.DS_Store
Thumbs.db

# ==============================
# Logs & Temporary Files
# ==============================

*.log
*.tmp

# ==============================
# Local Data
# ==============================

data/raw/*
data/processed/*

# Keep directory structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/sample/